In [13]:
import pandas as pd
print(pd.__version__)

2.3.2

In [14]:
dict_medidas = {'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80], 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [15]:
dict_medidas

{'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80],
 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [16]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)

In [17]:
df_medidas

   idade  altura
0     15     160
1     18     162
2     25     165
3     25     168
4     40     172
5     55     174
6     58     174
7     60     174
8     80     176

Medidas Resumo

In [18]:
## Medidas de Posição

# Média
df_medidas["idade"].mean()

# Mediana
df_medidas["idade"].median()

# Moda
df_medidas["idade"].mode()

0    25
Name: idade, dtype: int64

Medidas de Dispersão

In [19]:
# Variância
df_medidas.idade.var()

# Desvio Padrão
df_medidas.idade.std()

#Coeficiente de Variação
df_medidas.idade.std() / df_medidas.idade.mean() * 100

np.float64(54.05253876167302)

Medidas de Forma

In [20]:
# Assimetria Idade Cauda direita mais alta dados mais espalhados, maior amplitude
df_medidas.idade.skew()

np.float64(0.368108517895537)

In [21]:
# Assimetria Altura Cauda esquerda mais longa dados menos espalhados, menor amplitude
df_medidas.altura.skew()

np.float64(-0.598486996170113)

In [22]:
# Curtose Idade, Curtose baixa dados espalhados, Curtose alta dados menos espalhados
df_medidas.idade.kurtosis()

np.float64(-1.1344461075421046)

In [23]:
# Curtose Altura
df_medidas.altura.kurtosis()

np.float64(-1.3372641199913002)

In [24]:
# Obter medidas estatisticas
df_medidas.idade.describe()

count     9.000000
mean     41.777778
std      22.581950
min      15.000000
25%      25.000000
50%      40.000000
75%      58.000000
max      80.000000
Name: idade, dtype: float64

Correlação de variaveis

In [ ]:
#Correlação do Dataframe
df_medidas.corr(method='pearson')

           idade    altura
idade   1.000000  0.931024
altura  0.931024  1.000000

In [26]:
#Correlação entre duas variaveis
df_medidas.idade.corr(df_medidas.altura)

np.float64(0.9310236045054339)

In [27]:
#Correlação do Dataframe Spearman
df_medidas.corr(method='spearman')

           idade    altura
idade   1.000000  0.978803
altura  0.978803  1.000000

## Biblioteca matplotlib
df_medidas.altura.hist()

## Grafico de Dipersao
df_medidas.plot.scatter(x='idade', y='altura')